.item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.item p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

.buttonBox {
  display: flex;
  gap: 20px;
}

.item button {
  margin-top: 8px;
  padding: 6px 10px;
  width: fit-content;
  font-size: 13px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.item button:last-of-type {
  background-color: #dc3545;
}

.item button:hover {
  opacity: 0.9;
}

.data {
  background-color: #0ecc4d96;
  &.past{background-color: #ccbf0e96;}
}
