.programEditPage {
  padding: 20px;
  font-family: Arial, sans-serif;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .languageBlock {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .inputContainer {
    width: 48%;
  }

  .inputColumn {
    margin-bottom: 15px;

    label {
      font-size: 14px;
      margin-bottom: 5px;
      display: block;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
    }

    textarea {
      resize: vertical;
      min-height: 100px;
    }
  }

  .inputContainer h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .benefitInputs {
    display: flex;
    gap: 15px;

    .inputColumn {
      width: 48%;
    }
  }

  .imagePreview {
    margin: 20px 0;

    img {
      width: 100px;
      height: auto;
      border-radius: 5px;
    }
  }

  .benefitPreview {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .benefitItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

    svg.icon {
      width: 24px;
      height: 24px;
      fill: #333;
    }

    .deleteBtn {
      background: #ff4d4d;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #ff0000;
      }
    }

    .editIconBtn {
      background: #00aaff;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #0088cc;
      }
    }
  }

  .actions {
    margin-top: 20px;
    display: flex;
    // justify-content: space-between;
    gap: 20px;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      transition: background 0.3s ease;

      &.closeBtn {
        background: #f2f2f2;
        color: #333;

        &:hover {
          background: #e0e0e0;
        }
      }

      &.saveBtn {
        background: #4caf50;
        color: white;

        &:hover {
          background: #45a049;
        }
      }
    }
  }
}

.selected {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg.icon {
    width: 24px;
    height: 24px;
    fill: #333;
    margin-right: 10px;
  }

  span {
    font-size: 14px;
    color: #333;
  }
}

.options {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  svg.icon {
    width: 20px;
    height: 20px;
    fill: #666;
  }

  span {
    font-size: 12px;
    color: #666;
  }

  &:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 5px;
  }
}

.option:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px;
}

.container {
  position: relative;
}
